
/************************************************
            [  Foundation  ] 
************************************************/

#vlwrapper {
    border-radius: 15px;
    width:100%;
    height:3600px;
    background-color: var(--darkblue);
    font-family: sans-serif; 
}


/************************************************
            [  Home page  ]
************************************************/

#homepage {
    display: block;
}


/************************************************
            [  Home page: Hamburger/nav menu  ]
************************************************/

#nav-icon-wrap {
    position: absolute;
    height:30px;
    width:30px;
    right:5px;
    top:5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#nav-icon-wrap:hover {
    cursor: pointer;
}
#nav-icon-wrap span {
    position: relative;
    border-radius: 2px;
    margin:2px;
    height:4px;
    width:30px;
    background-color: var(--orange)
}

/************************************************
            [  Home page: Hero image & buttons  ]
************************************************/

#heroimage-container {
    height:300px;
    width:100%;
    display: flex;
}
#hero-image {
    width:100%;
    height:100%;
}

/* hero buttons */

.herobuttons {
    position: absolute;
    padding:8px;
    border-radius: 10px;
    font-size:22px;
    border:2px solid black;
    left:15px;
    box-shadow: -1px -1px 1px 1px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: -1px -1px 1px 1px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: -1px -1px 1px 1px rgba(0,0,0,0.75) inset;
    top:180px;
}
.herobuttons:hover {
    cursor: pointer;
    opacity: 0.8;
    z-index: 2;
}
#herobutton-getstarted {
    background-color: var(--orange);
}
#herobutton-learnmore {
    background-color: var(--lightgreen);
    top:230px;
}
#hero-text {
    position: absolute;
    top:60px;
    left:20px;
    font-size:19px;
    width:50%;
    color:var(--orange)
}
.hgreen {
    color:var(--lightgreen)
}


/************************************************
            [  Home page: SVG   ]
************************************************/

#below-image-waves {
    position:absolute;
    width:100%;
    height:100px;
}

/************************************************
            [  Expertise section  ]
************************************************/

#expertise-section {
    background-color: var(--heroimagebottom);
    height:0px;
    overflow: hidden;
    transition-duration: 0.5s;
}
#expertise-hide-content {
    position: absolute;
    width:100%;
    display: flex;
    justify-content: center;
    visibility: hidden;
}
#expertise-section h1 {
    color: var(--darkblue);
    margin-top:-5px;
}
#expertise-icon-wrap {
    width:100%;
    height:400px;
    position: absolute;
    margin-top: 40px;
}

/*discord*/

#expertise-discord {
    background-color: var(--darkblue);
    display: flex;
    position: absolute;
    margin:5px;
    padding:5px;
    height:50px;
    border-radius: 15px;
    width:50px;
}
#expertise-discord-text {
    font-size:18px;
    margin-left:5px;

    position: absolute;
    left:60px;
}
#expertise-discord-image {
    width:50px;
    height:50px;
}

/* SMM */

#expertise-management {
    background-color: var(--darkblue);
    display: flex;
    position: absolute;
    margin:5px;
    padding:5px;
    height:50px;
    border-radius: 15px;
    top:80px;

    width:50px;
}
#expertise-management-text {
    font-size:18px;
    margin-left:5px;
    position: absolute;
    left:60px;
}
#expertise-management-image {
    width:50px;
    height:50px;
}

/* Insights */

#expertise-insights {
    background-color: var(--darkblue);
    display: flex;
    position: absolute;
    margin:5px;
    padding:5px;
    height:50px;
    border-radius: 15px;
    top:160px;
    width:50px;
    
}
#expertise-insights-text {
    font-size:18px;
    margin-left:5px;
    position: absolute;
    left:60px;
}
#expertise-insights-image {
    width:50px;
    height:50px;
}

/* Webdev */

#expertise-webdev {
    background-color: var(--darkblue);
    display: flex;
    position: absolute;
    margin:5px;
    padding:5px;
    height:50px;
    border-radius: 15px;
    top:240px;
    width:50px;
}
#expertise-webdev-text {
    font-size:18px;
    margin-left:5px;
    position: absolute;
    left:60px;
}
#expertise-webdev-image {
    width:50px;
    height:50px;
}

/* Design */

#expertise-design {
    background-color: var(--darkblue);
    display: flex;
    position: absolute;
    margin:5px;
    padding:5px;
    height:50px;
    border-radius: 15px;
    top:320px;
    width:50px;
}
#expertise-design-text {
    font-size:18px;
    margin-left:5px;
    position: absolute;
    left:60px;
}
#expertise-design-image {
    width:50px;
    height:50px;
}

/************************************************
            [  MEDIA QUERIES: PC  ]
************************************************/

@media only screen and (min-width: 768px) {
    #nav-icon-wrap {
        height:80px;
        width:80px;
        right:5px;
        top:5px;
    }
    #nav-icon-wrap span {
        margin:4px;
        height:8px;
        width:70px;
    }

    /*Hero image */
    #hero-text {
        top:240px;
        font-size:36px;
    }
    #heroimage-container {
        height:800px;
    }
    .herobuttons {
        padding:10px;
        border-radius:15px;
        width:200px;
        height:60px;
        font-size:28px;
    }
    #herobutton-getstarted {
        top:450px;
        left:30px;
    }
    #herobutton-learnmore {
        top:450px;
        left:260px;
    }
    #bgimage-container {
        height:800px;
    }
    #triangleservices {
        visibility: visible;
    }
    #service-tab {
        visibility: visible;
    }
    #servicecontact {
        visibility: visible;
    }

    /* Expertise section*/

    #expertise-section h1 {
        font-size:40px;
        margin-top:-30px;
    }
}