
/************************************************
            [  Foundation  ] 
************************************************/

#vlwrapper {
    border-radius: 15px;
    width:100%;
    height:100%;
    background-color: var(--darkblue);
    font-family: 'Lato', sans-serif;
}


/************************************************
            [  Home page  ]
************************************************/

#Homepage {
    display: block
}


/************************************************
    [  Home page: Hamburger/nav menu  ]
************************************************/

#nav-icon-wrap {
    position: absolute;
    height:30px;
    width:30px;
    right:5px;
    top:5px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
    position: fixed;
}
#nav-icon-wrap:hover {
    cursor: pointer;
    opacity: 0.9;
}
#nav-icon-wrap span {
    position: relative;
    border-radius: 2px;
    margin:2px;
    height:4px;
    width:30px;
    background-color: var(--orange)
}

/*nav menu*/

#navmenu {
    position: fixed;
    right:0px;
    width:100%;
    height:100vh;
    z-index: 5;
    background-color: var(--darkblue);
    visibility: hidden;
}
@keyframes navmenuopen {
    0% {
        right:-100vh;
    }
    100% {
        right:0px;
    }
}
@keyframes navmenuclose {
    0% {
        right:0px;
    }
    100% {
        right:-200vh;
    }
}
/************************************************
            [  Nav menu: PC ]
************************************************/

#pc-view-navbar {
    display:flex;
    z-index: 3;
    flex-direction: row-reverse;
    position: fixed;
    width:100%;
    height:40px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.2) 0%, rgba(48,132,242,0.2) 100%);
}
#pc-view-navbar ul {
    display:none;
}
#pc-view-navbar ul li:hover {
    cursor: pointer;
    color: var(--orange);
}
#pc-view-logo {
    position:absolute;
    width:70px;
    height:80px;
    left:-10px;
    top:-20px;
}
#pc-view-logo:hover {
    cursor: pointer;
}

/*close nav menu*/


#close-navmenu {
    position: absolute;
    width:35px;
    height:35px;
    right:0px;
    display: flex;
    justify-content: center;
}
#close-navmenu:hover {
    cursor: pointer;
    opacity: 0.9;
}
#close-navmenu-1 {
    position: absolute;
    transform: rotate(45deg);
    background-color: var(--orange);
    width:30px;
    height:5px;
    top:20px;
}
#close-navmenu-2 {
    position: absolute;
    transform: rotate(-45deg);
    background-color: var(--orange);
    width:30px;
    height:5px;
    top:20px;
}

/* nav menu content*/

#logo-in-menu {
    display: flex;
    justify-content: center;
    height:100px;
}
#logo-text-in-menu {
    background-color: var(--lightblue);
    display: flex;
    justify-content: center;
    align-items: center;
    width:300px;
    height:50px;
    font-size:36px;
    border-radius: 15px;
}
#logo-menu-content {
    display: flex;
    width:100%;
    height:100%;
    justify-content: center;
}
#logo-menu-content h5 {
    position: absolute;
    font-size: 36px;
    top:300px;
    color: var(--lightblue);
}
#navmenu ul {
    list-style: none;
    padding:10px;
    position: absolute;
    top:90px;
}
#navmenu ul li {
    background-color :#404a81bb;
    padding:20px;
    font-size:36px;
    margin:20px;
    border-radius: 15px;;
}
#navmenu ul li:hover {
    cursor: pointer;
    opacity: 0.8;
}

/************************************************
            [  Home page: Hero image & buttons  ]
************************************************/

#heroimage-container {
    height:300px;
    width:100%;
    display: flex;
}
#hero-image {
    width:100%;
    height:100%;
}

/* hero buttons */

.herobuttons {
    position: absolute;
    padding:8px;
    border-radius: 10px;
    font-size:22px;
    left:15px;
    box-shadow: -1px -1px 1px 1px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: -1px -1px 1px 1px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: -1px -1px 1px 1px rgba(0,0,0,0.75) inset;
    top:180px;
}
.herobuttons:hover {
    cursor: pointer;
    z-index: 2;
    opacity: 0.8;
    
}
#herobutton-getstarted {
    background-color: var(--lightblue);
    visibility: hidden;
}
#herobutton-learnmore {
    background-color: var(--lightblue);
    top:230px;
}
#hero-text {
    position: absolute;
    top:60px;
    left:20px;
    font-size:19px;
    width:45%;
    color:white;
}
#hero-image-text-reach:hover {
    color:var(--orange);
}
#hero-image-text-impact:hover {
    color:var(--orange);
}
.hgreen {
    color:var(--lightgreen);
}


/************************************************
            [  Home page: SVG   ]
************************************************/

#below-image-waves {
    position:absolute;
    width:100%;
    height:100px;
    z-index:2;
}

/************************************************
            [  Expertise section  ]
************************************************/

#expertise-section {
    background-color: var(--heroimagebottom);
    height:0px;
    overflow: hidden;
    transition-duration: 0.5s;
}
#expertise-hide-content {
    position: absolute;
    width:100%;
    display: flex;
    justify-content: center;
    visibility: hidden;
}
#expertise-section h1 {
    color: var(--lightblue);
    margin-top:-5px;
}
#expertise-icon-wrap {
    width:100%;
    height:400px;
    position: absolute;
    margin-top: 40px;
}

/*discord*/

#expertise-discord {
    background-color: var(--darkblue);
    display: flex;
    position: absolute;
    margin:5px;
    padding:5px;
    height:50px;
    border-radius: 15px;
    width:50px;
    top:80px;
}
#expertise-discord:hover {
    cursor: pointer;
    opacity: 0.8;
}
#expertise-discord-text {
    font-size:18px;
    margin-left:5px;
    position: absolute;
    left:60px;
}
#expertise-discord-image {
    width:50px;
    height:50px;
}

/* SMM */

#expertise-management {
    background-color: var(--darkblue);
    display: flex;
    position: absolute;
    margin:5px;
    padding:5px;
    height:50px;
    border-radius: 15px;
    top:320px;

    width:50px;
}
#expertise-management:hover {
    cursor: pointer;
    opacity: 0.8;
}
#expertise-management-text {
    font-size:18px;
    margin-left:5px;
    position: absolute;
    left:60px;
}
#expertise-management-image {
    width:50px;
    height:50px;
}

/* Insights */

#expertise-insights {
    background-color: var(--darkblue);
    display: flex;
    position: absolute;
    margin:5px;
    padding:5px;
    height:50px;
    border-radius: 15px;
    top:160px;
    width:50px;  
}
#expertise-insights:hover {
    cursor: pointer;
    opacity: 0.8;
}
#expertise-insights-text {
    font-size:18px;
    margin-left:5px;
    position: absolute;
    left:60px;
}
#expertise-insights-image {
    width:50px;
    height:50px;
}

/* Webdev */

#expertise-webdev {
    background-color: var(--darkblue);
    display: flex;
    position: absolute;
    margin:5px;
    padding:5px;
    height:50px;
    border-radius: 15px;
    top:240px;
    width:50px;
}
#expertise-webdev:hover {
    cursor: pointer;
    opacity: 0.8;
}
#expertise-webdev-text {
    font-size:18px;
    margin-left:5px;
    position: absolute;
    left:60px;
}
#expertise-webdev-image {
    width:50px;
    height:50px;
}

/* Design */

#expertise-design {
    background-color: white;
    display: flex;
    position: absolute;
    margin:5px;
    padding:5px;
    height:50px;
    border-radius: 15px;
    width:50px;
}
#expertise-design:hover {
    cursor: pointer;
    opacity: 0.8;
}
#expertise-design-text {
    font-size:18px;
    margin-left:5px;
    position: absolute;
    left:60px;
}
#expertise-design-image {
    width:50px;
    height:50px;
}

/************************************************
    [  Home page: package section  ]
************************************************/

#package-section {
    background-color: var(--darkblue);
    width:100%;
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top:0px;
}
#package-section-text {
    color: var(--orange);
    font-size:46px;
    z-index:3;
    text-align: center;
}
#packages-wrap {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*package cards*/

.package-section-cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    width:220px;
    height:500px;
    background-color: var(--lightblue);
    margin-bottom:30px;
    padding:15px;
    border-radius: 15px;
}
.package-section-cards:hover {
    background-color: rgba(48, 132, 242, 1.0);
}
.package-section-cards h3 {
    color: black;
}
.package-section-cards p {
    height:380px;
}
.package-section-card-button {
    padding:5px;
    width:150px;
    font-size:20px;
    border-radius: 15px;
    border:none;
    background-color: var(--orange);
}
.package-section-card-button:hover {
    cursor: pointer;
    opacity: 0.8;
}



/************************************************
            [  MEDIA QUERIES: PC  ]
************************************************/

@media only screen and (min-width: 768px) {
    #nav-icon-wrap {
        height:80px;
        width:80px;
        right:5px;
        top:5px;
        display: none;
    }
    #nav-icon-wrap span {
        margin:4px;
        height:8px;
        width:70px;
    }

    /*nav menu*/

    #nav-icon-wralogop {
        visibility: hidden;
    }

    /*nav menu:pc*/

    #pc-view-navbar {
        width:100%;
        height:69px;
    }
    #pc-view-navbar ul {
        display:flex;
        margin-right:50px;
    }
    #pc-view-navbar ul li {
        margin-right:30px;
        font-size:26px;
        list-style:none;
        color:white;
    }
    #pc-view-navbar ul li:hover {
        cursor: pointer;
        color: var(--orange);
    }
    #pc-view-logo {
        width:100px;
        height:120px;
        left:-5px;
        top:-25px;
    }
    

    /*Hero image */
    #hero-text {
        top:240px;
        font-size:36px;
    }
    #heroimage-container {
        height:800px;
    }
    .herobuttons {
        padding:10px;
        width:200px;
        height:60px;
        font-size:28px;
    }
    #herobutton-getstarted {
        top:450px;
        left:30px;
        visibility: visible;
    }
    #herobutton-learnmore {
        top:450px;
        left:260px;
    }
    #bgimage-container {
        height:800px;
    }
    #triangleservices {
        visibility: visible;
    }
    #service-tab {
        visibility: visible;
    }
    #servicecontact {
        visibility: visible;
    }

    /* Expertise section*/

    #expertise-section h1 {
        font-size:40px;
        margin-top:-30px;
    }

    /*design expertise*/

    #expertise-design {
        left:15px;
        height:100px;
        width:100px;
    }
    #expertise-design-text {
        font-size:36px;
        left:110px;
    }
    #expertise-design-image {
        height:100px;
        width:100px;
    }
    /*discord expertise*/
    #expertise-discord {
        left:300px;
        height:100px;
        width:100px;
        top:0px;
    }
    #expertise-discord-text {
        font-size:36px;
        left:110px;
    }
    #expertise-discord-image {
        height:100px;
        width:100px;
    }
    /*strratinsight expertise*/
    #expertise-insights {
        left:600px;
        height:100px;
        width:100px;
        top:0px;
    }
    #expertise-insights-text {
        font-size:36px;
        left:110px;
    }
    #expertise-insights-image {
        height:100px;
        width:100px;
    }
    /*webdev expertise*/
    #expertise-webdev {
        left:900px;
        height:100px;
        width:100px;
        top:0px;
    }
    #expertise-webdev-text {
        font-size:36px;
        left:110px;
    }
    #expertise-webdev-image {
        height:100px;
        width:100px;
    }
    /*management expertise*/
    #expertise-management {
        left:15px;
        height:100px;
        width:100px;
        top:150px;
    }
    #expertise-management-text {
        font-size:36px;
        left:120px;
    }
    #expertise-management-image {
        height:100px;
        width:100px;
    }
    /*packages*/
    #package-section {
        padding-top:0px;
    }
    #packages-wrap {
        flex-direction: row;
        justify-content: center;
    }
    .package-section-cards {
        margin-right:25px;
    }
    

}